{% extends "electives/base.html" %}

{% block content %}
    <h1>About Page</h1>
    <p>Jindal Electives Review is a portal where students can talk about their experiences in electives taken up during
        their academic years at Jindal Global University. This is to provide symmetry of information and an efficient
        feedback system whereby students who want to take a certain elective may have easy access to knowledge and
        material about the elective to make an informed choice.
    </p>
    <p>
        At its present nascent stage, it allows users to leave comments anonymously at the individual page of every
        elective offered. The aim is to include further features like up-voting, uploading course material/notes etc.
        The information is all crowd-sourced.Users will only find information if people leave comments informing them
        about courses.
    </p>
    <p>
        We hope you begin with commenting on electives you have taken, so that this page is helpful for you and others
        in the future!
    </p>
    <strong>Website made by Ankit Sanghi</strong>
{% endblock content %}